*{
    margin: 0;

}

body{
    display: flex;
    background-color: lightblue;
}

img{
    width: 90px;
    height: 85px;
}

#campo-categoria{
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 100px;
    text-align: center;
    background-color: beige;
}

#campo-categoria button{
    height: 30px;
    margin: 10px 0px;
}
#campo-produto{
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 100px;
    background-color: white;
    align-items: center;
}

#campo-carrinho{
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 100px;
    text-align: center;
    background-color: beige;
}

#modal{
    border: solid;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 150px;
    left: 650px;
    background-color: beige;
    display: none;
}

#botaoSair{
    position: relative;
    font-size: x-large;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 10px;
    bottom:250px;
    left: 500px;
}

#botaoSair:hover{
    cursor: pointer;
}

#botaoAdicionar{
    position: relative;
    font-size: large;
    height: 50px;
    width: 220px;
    top: 150px;
    padding: 10px;
    border: solid;
}

#botaoAdicionar:hover{
    cursor: pointer;
}

#produtosModal{
    height: 200px;
    width: 250px;
    position: relative;
    top: 50px;
    left: 55px;
    border: solid;
}

#produtosH3Modal{
    position: relative;
    width: 200px;
    top: 50px;
    left: 55px;
    font-size: large;
}

#produtostPModal{
    position: relative;
    width: 200px;
    top: 140px;
    left: 55px;
    font-size: xx-large;
}