body{
    background-color: rgb(96, 96, 99);
}
#senha{
    background-color: rgb(18, 119, 187);
    
    border: solid;

    height: 100px;

    width: 400px;

    position: relative;

    left: 40%;
}
#chamarSenha{
    background-color: rgb(10, 28, 131);

    position: relative;

    border: solid;

    height: 500px;

    width: 400px;

    left: 40%;

    margin-top: 50px;
}
#botoes{
    position: relative;

    left: 40%;

    display: flex;

    align-items: center;
    
    justify-content: center;

    height: 100px;

    width: 400px;

    gap: 100px;
}
h1{
    color: white;
    text-align: center;
}
button{
    padding: 5px;

    cursor: pointer;
}
h3{
    color: white;

    text-align: center;

    margin-top: 0%;

    height: 30px;

    background-color: rgb(18, 119, 187);



}
#texto1{
    color: white;

    position: relative;

    height: 72px;

    width: 394px;

    resize: none;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    
    font-size:xx-large;

    margin-top: 22px;

    background-color: rgb(18, 119, 187);

    border: none;
}
#texto2{
    margin-top: 0%;
    color: white;

    height: 450px;

    width: 224px;

    list-style: none;

    font-size: xx-large;

    margin-left: 34%;

    overflow: auto;


}