body{

    display: flex;

    flex-direction: row;

}
*{

    margin: 0%;

    padding: 0%;
}
.fundo{

    width: 100%;

    color: black;

    background-image: linear-gradient(purple, red);

    height: 100vh;

}
.fotos{

    text-align: left;

    width: 210px;

    height: 890px;

    margin-left: 0%;

    margin-top: 0%;

    cursor: pointer;

    padding: 10px;

    position: fixed;

    border: solid;

    background-color: rgba(0, 0, 0, 0.6);

    color: white;

    margin-bottom: 0%;

}
#foto1{

    border: solid;

    border-radius: 15px;

}
#foto1:hover{

    opacity: 0.5;
    
}
#foto2{

    border: solid;

    border-radius: 15px;

}
#foto2:hover{

    opacity: 0.5;
    
}
#foto3{

    border: solid;

    border-radius: 15px;

}
#foto3:hover{

    opacity: 0.5;
    
}
#foto4{

    border: solid;

    border-radius: 15px;

}
#foto4:hover{

    opacity: 0.5;
    
}
#foto5{

    border: solid;

    border-radius: 15px;

}
#foto5:hover{

    opacity: 0.5;
    
}
#titulo{

    text-align: center;

}
.titulo{

    color: white;

    margin: auto;

    width: 310px;

}
.exibir{
    border: solid;
    width: 700px;
    height: 600px;
    margin-left: 600px;
    margin-top: 200px;

}
