*{

    margin: 0; 

    padding: 0;

}

body{

    font-family: arial, helvetica, sans-serif;

    font-size: 12px;

}

.menu{

    list-style:none;

    border:1px solid #c0c0c0;

    float:left;

    margin-left: 50px;

}

.menu li{

    position:relative;

    float:left;

    border-right:1px solid #c0c0c0;

}

.menu li a{

    color:#333; 

    text-decoration:none; 

    padding:5px 10px; 

    display:block;

}

.menu li a:hover{

    background:#333;

    color:#fff;

    text-shadow:0px 0px 5px #fff;

}

#tituloLogo{

    display: flex;

    flex-direction: row;

    border: solid;

    width: 1200px;

    height: 100px;

    margin-left: 15%;

    margin-top: 5%;


}

#titulo{
    
}

#logo{

    width: 80px;

    margin-left: 400px;

    margin-top: 9px;

}

#titulo{

    position:relative;

    float:left;

    margin-left: 10px;
        
    margin-top: 18px;
}

#caminhos{

    justify-content: center;

    display: flex;

    flex-direction: column;

    border: solid;

    width: 1200px;

    height: 50px;

    margin-left: 15%;


}

#conteudo{

    display: flex;

    flex-direction: column;

    border: solid;

    height: 500px;

    width: 1200px;

    margin-left: 15%;

}

#conteudoPrincipal{

    border: solid;

    height: 400px;

    width: 1150px;

    margin-left: 25px;

    margin-top: 50px;

}

#caminhosConteudos{

    display: flex;

    border: solid;

    width: 1200px;

    height: 100px;

    margin-left: 15%;

}

#Slogan{

    display: flex;

    flex-direction: row;

    width: 400px;

    height: 100px;

    margin-left: 20px;

}

#titulo2{

    margin-top: 23px;

    height: 50px;

    width: 160px;

}

#imagem2{

    margin-top: 10px;

    width: 80px;

    height: 80px;

}

#credito{
    
    text-align: center;

    width: 600px;

    height: 25px;

    margin-top: 59px;

    margin-left: 100px;
}

#links{

    text-align: center;

    width: 100px;

    height: 75px;

    margin-top: 15px;

    margin-left: 350px;

    margin-right: 50px;

}
#logo{
    display: flex;

    width: 100px;
}
#navegacao{
    display: flex;

    gap: 600px;
}