*{
    margin: auto;
    text-align: center;
}

#titulo{

    width: 136px;

    border: solid;
}
#matriculas{
    margin-top: 5px;

    border: solid;

    height: 160px;

    width: 700px;
}
#matricula{

    height: 50px;

    width: 400px;

    margin-top: 50px;

    margin-bottom: 20px;
  
}
#botao{

    margin-left: 280px;

}
#tabeladiv{

    margin-top: 5px;

    border: solid;

    height: 540px;

    width: 700px;

    overflow: auto;
}
.cabecalho{

    border: solid;

    height: 40px;

    width: 200px;
}