*{

 

}

header{
    width: 100%;

    border: solid;
}

footer{
    width: 100%;

    background-color: rgb(247, 163, 163);

    display: flex;

    justify-content: center;

    border: solid;
}

body{



}

.menu{


}

.menu li{



}

.menu li a{

   

}

.menu li a:hover{

    

}

#tituloLogo{

   
}

#logo{

  

}

#titulo{

}

#caminhos{



}

#conteudo{

   

}

#conteudoPrincipal{

    

}


#Slogan{

}

#titulo2{

  

}

#imagem2{

   

}

#credito{
    
   

}

#links{

   

}
#logo{
    
}
#navegacao{
   
}

#botaoTwitter{

   

}

#botaoInsta{

    
}

#horaDiv{

    

}

#audio{

    

}

#abaEspecialidades{
  
}

#tabela{
    
}

.linha{
    border: solid;

}

.th{
    
}

.td{
   
}

#conteudoPrincipal2{

    

}

#conteudoPrincipal3{
   
}
#conteudo1{
    
}