header {
    background-color: rgb(24, 24, 24);
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
}

#nav-menu {
    width: 100%;
}

#menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 450px;
    height: 56px;
    width: 1000px;
}

#nav-site-logo {
    height: 40px;
    width: 70px;
}

#nav-mini-menu {
    display: inline;
    height: 56px;
    width: 1000px;
}

#items-menu {
    display: flex;
    gap: 350px;
}

#items-menu li a {
    color: white;
    display: flex;
    text-decoration: none;
    font-size: x-large;
}

#items-menu li a:hover {
    color: yellow;
    cursor: pointer;
}

#item-follow {
    color: white;
}

.link {
    color: white;
    font-size: x-large;
}

#links-para-paginas {
    display: flex;
    position: relative;
    top: 10px;
    left: 50px;
    gap: 20px;
}

#links-para-follow {
    display: flex;
    gap: 20px;
    position: relative;
    top: 10px;
    left: 50px;
}