#titulo-series-melhores-avaliadas {
    position: relative;
    height: 80px;
    width: 100%;
    color: white;
    background-color: black;
}

#titulo-series-melhores-avaliadas h1 {
    position: relative;
    left: 0px;
    top: 20px;
}

#series-melhores-avaliadas-div {
    height: 320px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: black;
}

#posters-series-melhores-avaliadas {
    display: flex;
    gap: 20px;
    background-color: black;
}

#fundo-preto-div {
    background-color: black;
    height: 390px;
}