* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 90vh;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    
}

header{
    width: 100%;
}

footer {
    width: 100%;
    margin-top: auto;
    height: 50px;
}

#tituloLogo{
    background-color: rgb(247, 163, 163);
    display: flex;
    flex-direction: row;
    height: 100px;
}

#horaDiv{
    width: 130px;
    height: 50px;
    position: relative;
    top: 35px;
    left: 100px;
}

#logoTitulo{
    position: relative;
    left: 590px;
    display: flex;
    gap: 20px;
}

#logoTitulo img{
    position: relative;
    top: 10px;
}

#logoTitulo h1{
    position: relative;
    top: 30px;
}

#caminhos{
    height: 50px;
    background-color: lightblue;
}

#navegacao{
    display: flex;
    gap: 1100px;
    height: 40px;
}

.menu{
    list-style:none;
    
    float:left;
    background-color: white;
    position: relative;
    left: 100px;
    top: 10px;
    height: 28px;
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #000000;
}

.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color:#ffffff;
}

#botoes{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 6px;
    width: 300px;
}

#botoes button{
   margin: 0 20px;
}

#botaoTwitter{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#botaoInsta{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#textoTT{
    width: 50px;
    position: relative;
    right: 15px;
    top: 7px;
}

#textoInsta{
    width: 80px;
    position: relative;
    right: 15px;
    top: 7px;
}

#conteudo{
    height: 650px;
    width: 1200px;
    background-color: lightblue;
    position: relative;
    top: 30px;
    left: 300px;
    display: flex;
}

#conteudoPrincipal{
    height: 500px;
    position: relative;
    left: 120px;
    top: 70px;
}

#audio{
    position: relative;
    height: 60px;
    top: 580px;
    right: 180px;
}

#parteInferior{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(247, 163, 163);
    padding: 1rem 2rem;
    height: 80px;
}

#Slogan{
    gap: 10px;
    width: 350px;
}

#Slogan img{
    position: relative;
    left: 90px;
    top: 20px; 
}

#Slogan h2{
    position: relative;
    left: 150px;
    bottom: 20px;
}

#credito{  
    position: relative;
    top: 35px;
    left: 120px;
    width: 400px;
    height: 30px;
}

#links{
    position: relative;
    left: 390px;
    width: 200px;
}

.link{
    text-decoration: none;
    color: black;
}

#conteudo2{
    height: 600px;
    width: 1500px;
    background-color: lightblue;
    position: relative;
    top: 30px;
    left: 190px;
    display: flex;
}

#especialidadeEscolha{
    height: 30px;
    position: relative;
    left: 193px;
    top: 10px;
}

#tabela1{
    position: relative;
    left: 80px;
    top: 50px;
    border: solid;
    background-color: white;
    height: 50px;
}

#tabela2{
    position: relative;
    right: 551px;
    top: 50px;
    border: solid;
    background-color: white;
    height: 50px; 
}

#tabela3{
    position: relative;
    right: 551px;
    top: 50px;
    border: solid;
    background-color: white;
    height: 50px;
    display: none;
}

#tabela4{
    position: relative;
    right: 551px;
    top: 50px;
    border: solid;
    background-color: white;
    height: 50px;
    display: none;
}


#tabela5{
    position: relative;
    right: 551px;
    top: 50px;
    border: solid;
    background-color: white;
    height: 50px;
    display: none;
}

.th{
    border: solid;
    height: 40px;
    width: 200px;
}

.td{
    border: solid;
    height: 40px;
    width: 200px;
    text-align: center;
}

#conteudoPrincipal2{
    position: relative;
    top: 100px;
    left: 0px;
}

.texto{
    padding: 20px;
}

#conteudo3{
    height: 460px;
    width: 1600px;
    background-color: lightblue;
    position: relative;
    top: 30px;
    left: 100px;
    display: flex;
    flex-direction: column;
}

#conteudo4{
    height: 700px;
    width: 1600px;
    background-color: lightblue;
    position: relative;
    top: 30px;
    left: 100px;
    display: flex;
    flex-direction: row;
}

#formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 700px;
    align-items: center;
    position: relative;
    top: 100px;
}

#formulario input{
    height: 20px;
    width: 400px;
    text-align: center;
}

#formulario textarea{
    width: 400px;
}

#formulario button{
    width: 70px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
}

#areaTexto{
    resize: none;
}

#mapa{
    
    width: 600px;
    height: 450px;
    position: relative;
    left: 100px;
    top: 120px;
}

#conteudo5{
    height: 620px;
    width: 1000px;
    background-color: lightblue;
    position: relative;
    top: 30px;
    left: 400px;
    display: flex;
    flex-direction: row;
}

#formulario1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 400px;
    position: relative;
    left: 100px;
    top: 50px;
    text-align: center;
}

#endereco{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 250px;
    position: relative;
    left: 100px;
    top: 50px;
    text-align: center;
}

#plano{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 500px;
    position: relative;
    left: 100px;
    top: 50px;
    text-align: center; 
}

#plano textarea{
    resize: none;
}

#plano button{
    position: relative;
    top: 90px;
    left: 80px;
    width: 70px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
}

.label{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    text-align: center;
}