#pagina-background {
    background-color: white;
    position: relative;
    height: 1840px;
    width: 1000px;
}

#secao-um {
    display: flex;
    height: 530px;
    background-image: linear-gradient(grey, black);
}

#pagina-background2 {
    background-color: black;
    position: relative;
    padding: 50px;
    width: 1000px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 10px 10px;
    align-items: center;
    justify-content: center;
}

#secao-2 {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 10px;
    height: 230px;
    background-color: black;
}

.btn-filtro {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    color: white;
    background-color: grey;
    font-size: large;
    position: relative;
    top: 150px;
}

.btn-filtro:hover {
    cursor: pointer;
    opacity: 0.9;
}