#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#creditos {
    color: white;
    width: 240px;
    height: 40px;
    position: relative;
    left: 860px;
    display: flex;
    text-align: center;
}

#links {
    display: flex;
    gap: 20px;
    height: 48px;
    width: 150px;
    position: relative;
    left: 1400px;
}

#links a {
    color: white;
}